
.titulo-principal{
    padding-left: 30px;
}

#banner{
        width:100%;
}

.principal{
        background-color: #CCCCCC;
        padding: 20px;
 }


.titulo-centralizado{
        text-align: center;
}

p{
    text-align: center;
}



em strong{
    color: rgb(255, 0, 212);
}

#mision{
    font-size: 20px;text-align:center
}

.Diferenciales{
    background: #f8dbdb;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display:inline-block;
    vertical-align: top ;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
width: 50%;
}

